@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Raleway, "Courier New", Courier, monospace;
  background-color: #fffafa;
}

h1 {
  display: flex;
  background-color: #0072b5;
  color: #fffafa;
  height: clamp(70px, 15vh, 80px);
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 10%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fffafa;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: auto;
  width: 250px;
  margin: 15px;
}

.flag {
  height: 150px;
  width: 250px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.informations {
  padding: 10px;
  height: 60px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
}
