@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Raleway, "Courier New", Courier, monospace;
  background-color: #333;
}

h1 {
  display: flex;
  background-color: #0072b5;
  color: #fffafa;
  height: clamp(70px, 15vh, 80px);
  justify-content: center;
  align-items: center;
}

.search-countries {
  max-width: 700px;
  min-width: 400px;
  width: 70%;
  margin: 30px auto;
  position: relative;
  display: flex;
}

.search-countries input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 18px;
}

.search-countries label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 8px;
  color: #333;
  transition: all 0.3s ease-in;
}

/* animation d'input */
.search-countries:focus-within label,
.search-countries.active-input label {
  top: -15px;
  padding-left: 5px;
  color: #f1f1f1;
}

.container {
  display: flex;
  margin: 10%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #fffafa;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: auto;
  width: 250px;
  margin: 15px;
}

.flag {
  height: 150px;
  width: 250px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.informations {
  padding: 10px;
  height: 60px;
}

.text .name {
  overflow: hidden;
  text-overflow: ellipsis;
}
